body{
  box-sizing: border-box;
  margin: 0;
  background: #ff9966;
  background-color: -webkit-linear-gradient(to rigth, #ff5e62, #ff9966);
  -moz-linear-gradient(to rigth, #ff5e62, #ff9966);
  -ms-linear-gradient(to rigth, #ff5e62, #ff9966);
  -o-linear-gradient(to rigth, #ff5e62, #ff9966);
  linear-gradient(to rigth, #ff5e62, #ff9966);
  background: linear-gradient(to rigth, #ff5e62, #ff9966);
}

.contenedor{
  background-color: white;
  height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
h1, h2{
  text-align: center;
  font-family: 'IMB Plex Serif', serif;
}
h2{
  color: white;
}
/*AQUI ESTA EL DIV*/
.contenedor-flex{
  /*
  Este flex ocupa lo necesario
  display: inline-flex;
  */
  display: flex;
  border: 1px solid rgb(4, 35, 157);
}

.elemento-flex{
  padding: 10px;
  flex-grow: 1;
}
.elemento-flex:nth-child(1){
  background-color: #f53935;

}
.elemento-flex:nth-child(2){
  background-color: #8e24aa;
  flex-basis: 50%;
}
.elemento-flex:nth-child(3){
  background-color: #3f51b5;
  /*pero si queremos hacerlo al inverso
  elimina la parte del flex-grow:1;*/
  flex-shrink: 0;
  flex-grow: 0;
}
